@charset "UTF-8";

button
{
	width:85px;
	background-color:gsk;
  line-height:30px;
font-weight:bolder;
  color:black;
 border-radius:3px;
 
  	
}
button:hover
{
	  cursor:pointer;
	  background-color:violet;
}


body
{
	background-color:pink;

	
}
.container 
{
	width:400px;
    height:380px;
	border:1px solid black;
	text-align:center;
	
    margin-left:700px;
    margin-top:300px;

    padding-top:30px;

	box-shadow:1px 4px 4px 1px;
	background-color:grey;	
}

input[type=text]
{
	
	width:350px ;
    height:50px;
    border:1px solid black;

	color:white;
	font-size:20px;
	text-align:right;
	background-color:black;	
}




.container div
{
	padding:9px;
	
}

.equal button
{
   width:350px ;	
}
